<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Material Price.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FD6ED2291D46F11300A3C011</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD6ED2401D46F11300A3C011</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD6ED24B1D46F11300A3C011</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
